.card{
    width: 30%;
    height: 600px;
}
@media only screen and (max-width: 1200px){
    .card{
        width:40%;
        height:700px;
    }
}
@media only screen and (max-width: 800px){
    .card{
        width:50%;
        height:1000px;
    }
}